.numeroDisplay {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #222;
    color: #fff;
    font-weight: bolder;
    font-size: 2.5rem;

}